<div class="row">
    <div class="col-sm-3">
        <div class="mue-dashboard-applications-container"></div>
    </div>
    <div class="col-sm-9 mue-dashboard-application-container"></div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a href="#" data-link='new'>New</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" data-region='newApplication'></div>
    <div class="col-sm-12" data-region='content'></div>
</div>