<div class="panel-heading">Add new application</div>
<div class="panel-body">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label>Domain</label>
        <input type="text" name="domain" class="form-control" placeholder="Domain">

        <p class="help-block">Domain should looks like example.com</p>

        <p class="help-block">Without http://</p>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description"></textarea>
    </div>

    <div class="form-group">
        <label>Redirect url</label>
        <input type="text" name="redirectUrl" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-link" data-link="cancel">Cancel</button>
        <button class="btn btn-success" data-link="create">Create</button>
    </div>

    <div class="messages"></div>
</div>