extends ../layout
block content
    h1 Account index page

block js_scripts
    script(type='text/javascript' src='vendor/requirejs/require.js')
    script(type='text/javascript').
        require(['js/config/index'], function(){
            require(['pages/home'], function(){})
        });