extends ../layout
block content
    #body
    .mue-notify
    .mue-modal

block js_scripts
    script(type='text/javascript' src='vendor/requirejs/require.js')

    if(production)
        script(type='text/javascript' src='js/account-account-0.0.1.js')
    else
        script(type='text/javascript').
            require(['js/config/index'], function(){
                require(['pages/account'], function(){})
            });