extends ../layout
block content
    #body
    .mue-notify
    .mue-modal

block js_scripts
    script(type='text/javascript' src='vendor/requirejs/require.js')
    script(type='text/javascript').
        require(['js/config/index'], function(){
            require(['pages/account'], function(){})
        });