extends ../layout
block content
    h1 Sign up

block js_scripts
    if(live)
        script(type='text/javascript' src='js/require.js')
        script(type='text/javascript' src='/js/script.js')
    else
        script(type='text/javascript' src='js/vendor/libs/require/require.js')
        script(type='text/javascript').
            requirejs(['js/config'], function () {
                require(['apps/web'], function () {
                })
            });