<div class="container">
    <header class="mue-header">
        <div class="mue-brand">Mueees!</div>
        <ul class="mue-nav mue-header-menu pull-left">
            <li>
                <a href="#dashboard/profile">Profile</a>
            </li>
            <li>
                <a href="#dashboard/application">Application</a>
            </li>
        </ul>
        <ul class="mue-nav mue-header-menu pull-right">
            <li>
                <a data-link='logout' href="">Logout</a>
            </li>
        </ul>
    </header>
    <br/>
    <div class="row">
        <div class="col-sm-12 mue-dashboard-subController-container"></div>
    </div>
</div>