p Thank you for signing up to join #{application}!
p To complete your registration and confirm your email address, please click the following link
a(href='http://localhost:6004/api/v#{apiVersion}/confirmuser/?confirmationId=#{confirmationId}') Activate My Account