<div class="panel panel-default">
    <div class="panel-heading">Approval</div>
    <div class="panel-body">

        <h1>Application: {{name}} </h1>

        <p>
            Want to get access to your account
        </p>

        <button type="submit" class="btn btn-default cancel">Cancel</button>
        <button type="submit" class="btn btn-success approve">Approve</button>
    </div>
</div>