<div class="panel mue-panel mue-approval-panel">
    <div class="panel-body">
        <div class="mue-approval-name">
            {{name}}
        </div>
        <div class="mue-approval-description">
            {{description}}
        </div>

        <br/>

        <p>
            Want to get full access to your account
        </p>

        <button type="submit" data-link="cancel" class="btn btn-neutral">Cancel</button>
        <button type="submit" data-link="approve" class="btn btn-banana btn-action">Approve</button>
    </div>
</div>