doctype html
html
    body
        script(type='text/javascript').
            var response = !{response},
                    meta = !{meta};

        script(type='text/javascript' src='/js/postMessage.js')